    {% extends 'base.html' %}
    {% block content %}
    <div id="header" class="home">
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4 bg-dark">
                    <div class="card">
                        Hello
                    </div>
                </div>
                <div class="col-md-8">
                    <button class="btn btn-primary">Hello</button>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="header-content">
                <h1>Diagnosis Penyakit Perokok menggunakan Metode Forward Chaining dengan First Order Logic
                </h1>
                <div class="row">
                    <div class="col-md-3 text-left">
                        <p>Cindana Putri Ramadhani<br> Satria Bayuaji<br> Muhammad
                            Zulkifli<br>
                            Indah Puspita</p>
                    </div>
                    <div class="col-md-9 text-left">
                        <p>( G64170022 ) <br>( G64170031 ) <br>(
                            G64170033 ) <br>( G64170035 )</p>
                    </div>
                </div>

                <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">Coba
                    Sekarang!</button>
            </div>
        </div>
    </div>

    <!-- Questions Modal -->

    {% include 'questions_modal.html' %}
    <!-- Modal ends here -->
    {% endblock %}