<form action="/result" method="GET">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Silahkan jawab pertanyaan berikut sesuai dengan
                        yang
                        anda rasakan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <ol class="list-group list-group-flush">
                            {% for question in questions %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        {{ question.id }}. Apakah anda mengalami {{ question.description }} ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <!-- <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="question{{forloop.counter}}" id="Radio{{question.id}}"
                                                value="{{ question.code }}">
                                            <label class="form-check-label" for="Radio{{question.id}}">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="question{{forloop.counter}}" id="Radio{{question.id}}" value="">
                                            <label class="form-check-label" for="Radio{{question.id}}">Tidak</label>
                                        </div> -->
                                        <select class="custom-select" id="answer{{ question.id }}"
                                            name="answer{{ question.id }}">
                                            <option value="{{ question.code }}">Ya</option>
                                            <option selected value="">Tidak</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ol>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>