<form action="" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Silahkan jawab pertanyaan berikut sesuai dengan
                        yang
                        anda rasakan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        1. Apakah anda mengalami Perubahan suara serta sulit atau rasa sakit saat
                                        menelan serta mengunyah ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question1"
                                                id="inlineRadio1" value="q1y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question1"
                                                id="inlineRadio1" value="q1n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 1 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        2. Apakah anda mengalami pembengkakan pada wajah dan leher ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question2"
                                                id="inlineRadio1" value="q2y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question2"
                                                id="inlineRadio1" value="q2n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 2 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        3. Apakah anda mengalami bercak kemerahan atau putih dalam mulut, dan lidah
                                        terasa sakit atau mulut nyeri ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question3"
                                                id="inlineRadio1" value="q3y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question3"
                                                id="inlineRadio1" value="q3n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 3 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        4. Apakah anda mengalami pendarahan pada rongga mulut dan gigi tanggal
                                        dengan
                                        sendirinya ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question4"
                                                id="inlineRadio1" value="q4y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question4"
                                                id="inlineRadio1" value="q4n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 4 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        5. Apakah anda mengalami batuk kronis serta telinga terasa sakit dan
                                        berdengung
                                        ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="question4" value="q5y">
                                            <label class="form-check-label" for="question4">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="q5n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 5 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        6. Apakah anda mengalami timbul benjolan yang muncul di sekitar mata,
                                        rahang,
                                        leher, atau tenggorokan ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question6"
                                                id="inlineRadio1" value="q6y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question6"
                                                id="inlineRadio1" value="q6n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 6 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        7. Apakah anda mengalami pembengkakan kelenjar getah bening ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question7"
                                                id="inlineRadio1" value="q7y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question7"
                                                id="inlineRadio1" value="q7n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 7 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        8. Apakah anda mengalami dada sesak, nyeri, dan berat ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question8"
                                                id="inlineRadio1" value="q8y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question8"
                                                id="inlineRadio1" value="q8n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 8 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        9. Apakah anda mengalami batuk berdahak disertai bercak darah ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question9"
                                                id="inlineRadio1" value="q9y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question9"
                                                id="inlineRadio1" value="q9n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 9 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        10. Apakah anda mengalami sakit pada tulang, bisa pada bahu, lengan atau
                                        tangan
                                        serta perubahan pada bentuk jari, yaitu ujung jari menjadi cembung ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question10"
                                                id="inlineRadio1" value="q10y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question10"
                                                id="inlineRadio1" value="q10n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 10 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        11. Apakah anda mengalami gatal-gatal atau rasa sakit pada payudara atau
                                        ketiak
                                        serta perubahan ukuran atau bentuk puting ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question11"
                                                id="inlineRadio1" value="q11y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question11"
                                                id="inlineRadio1" value="q11n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 11 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        12. Apakah anda mengalami Kemunculan benjolan atau pembengkakan yang
                                        kemerahan
                                        pada ketiak, atau payudara, atau kulit payudara yang menebal serta keluarnya
                                        cairan dari puting (biasanya disertai darah) ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question12"
                                                id="inlineRadio1" value="q12y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question12"
                                                id="inlineRadio1" value="q12n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 12 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        13. Apakah anda mengalami frekuensi buang air kecil semakin sering, tapi
                                        jumlah
                                        urine yang dikeluarkan hanya sedikit, serta warna urin keruh atau kuning
                                        kemerahan ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question13"
                                                id="inlineRadio1" value="q13y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question13"
                                                id="inlineRadio1" value="q13n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 13 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        14. Apakah anda mengalami kandung kemih terasa tegang, penuh, keras dan
                                        nyeri
                                        pada perut bagian bawah, serta nyeri atau perih ketika buang air kecil ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question14"
                                                id="inlineRadio1" value="q14y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question14"
                                                id="inlineRadio1" value="q14n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 14 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        15. Apakah anda mengalami sakit kepala yang tiba-tiba ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question15"
                                                id="inlineRadio1" value="q15y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question15"
                                                id="inlineRadio1" value="q15n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 15 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        16. Apakah anda mengalami tiba-tiba kehilangan kesadaran, keseimbangan,
                                        koordinasi, kontrol tubuh, dan bicara tidak jelas ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question16"
                                                id="inlineRadio1" value="q16y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question16"
                                                id="inlineRadio1" value="q16n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 16 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        17. Apakah anda mengalami kelemahan dan kelumpuhan pada beberapa bagian
                                        tubuh
                                        (wajah, lengan, tangan, terutama pada salah satu sisi tubuh) ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question17"
                                                id="inlineRadio1" value="q17y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question17"
                                                id="inlineRadio1" value="q17n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 17 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        18. Apakah anda mengalami penyakit infeksi saluran pernapasan (flu atau
                                        pilek) ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question18"
                                                id="inlineRadio1" value="q18y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question18"
                                                id="inlineRadio1" value="q18n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 18 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        19. Apakah anda mengalami keluar lendir dari rongga hidung terus menerus
                                        yang
                                        berwarna kemerahan ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question19"
                                                id="inlineRadio1" value="q19y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question19"
                                                id="inlineRadio1" value="q19n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 19 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        20. Apakah anda mengalami pembengkakan pada pergelangan kaki, kaki, dan
                                        tungkai
                                        kiri serta kanan ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question20"
                                                id="inlineRadio1" value="q20y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question20"
                                                id="inlineRadio1" value="q20n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- question 20 -->
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        21. Apakah anda mengalami terlalu cepat ejakulasi ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question21"
                                                id="inlineRadio1" value="q21y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question21"
                                                id="inlineRadio1" value="q21n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        22. Apakah anda mengalami kesulitan memulai dan mempertahankan ereksi ?
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question22"
                                                id="inlineRadio1" value="q22y">
                                            <label class="form-check-label" for="inlineRadio1">Ya</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="question22"
                                                id="inlineRadio1" value="q22n">
                                            <label class="form-check-label" for="inlineRadio1">Tidak</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>